<div class="w-embed">
    <style>
/* CUSTOM QUANTITY BUTTONS */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.frame{
aspect-ratio:0.89/1;
}
#square{
aspect-ratio:1/1;
}
.w-richtext-figure-type-image > div {
    width:100%;
}
.richtextimgwrapper{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(0rem, 23%));
  grid-template-rows: auto;
}
  html { font-size: 1rem; }
  @media screen and (max-width:1920px) { html { font-size: calc(0.75rem + 0.20833333333333337vw); } }
  @media screen and (max-width:1440px) { html { font-size: calc(0.8438475546305931rem + 0.10405827263267431vw); } }
  @media screen and (max-width:479px) { html { font-size: calc(0.7497384937238494rem + 0.41841004184100417vw); } }

</style>
  </div>