
      <h1 class="heading_m">{{ section.settings.heading }}</h1>
      <p>{{ section.settings.sub_text }}</p>
    

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","content_vertical short");</script>
        
{% schema %}
{
  "name": "Heading - All Rooms",
  "tag": "div",
  "class": "content_vertical short",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "All Rooms"
    },
    {
      "type": "richtext",
      "id": "sub_text",
      "label": "Sub Text"
    }
  ]
}
{% endschema %}